<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type=""text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>login or Register</title>
</head>

<h1>Add New Recipe</h1>

<a href="/dashboard" class="button">Dashboard</a>
<a href="/logout" class="button">Logout</a>


<form action="/create_recipe" method="POST">

    <label for="name">Name</label>
    <input type="text" name="name" >

    <label for="min30">UNDER 30 MIN?</label>
    <input type="text" name="min30" >

    <label for="description">Description</label>
    <input type="text" name="description" >

    <label for="name">Instructions</label>
    <input type="text" name="instructions" >

    <input type="submit" value='Submit' class="button">

</form>


